
@mixin component-border {
    border: 1px solid black;
}

$font: 'Ubuntu Mono', monospace;

* {
    margin: 0px;
    padding: 0px;
}

.stay-on-line {
    overflow: hidden; 
    white-space: nowrap;
}

.content {
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    > * {
        flex: 1 1 100px;
        width: 50%;
    }
}

form {
   // @include component-border();
    margin-bottom: 20px;
    font-family: $font;
    font-size: 1.3em;
}

#editor {

    $color_template: #a6a6a6;
    $color_match: black;
    $color_mismatch: red;
    $color_mismatch_background: #ffcccc;

    @include component-border();
    font-family: $font;
    color: $color_template;
    font-size: 2em;
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    .char {
        flex: 0 1 auto;
        width: 1.5em;
    }

    .cursor {
        text-decoration: underline;
    }

    .insert-match {
        color: $color-match;
        font-weight: bold;
    }

    .insert-mismatch {
        color: $color_mismatch;
        background-color: $color_mismatch_background;
        font-weight: bold;
        border: none;
    }
}

